<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let cliente of clientes">

    <ion-label>
      <h1>{{cliente.nombre}}</h1>
      <h3>{{cliente.apellido}}</h3>
      <p>{{cliente.email}}</p>
      <p>{{cliente.telefono}}</p>
    </ion-label>
  </ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/control-clientes">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
